html {
  background-size: 100%;
  background-color: #219ebc;
}
main.container-fluid {
  background-color: #8ecae6;
  
}
nav.navbar {
  text-align: center;
  background-color: #023047;
}
textarea.textarea {
  height: auto;
  width: 100%;
  margin-top: 0.85rem;
  background-color: #fb8500;
}
button.btn {
  height: auto;
  width: 100%;
  margin-top: 0.85rem;
  margin-bottom: 0.85rem;
}
div.result {
  height: auto;
  width: 100%;
  margin-top: 0.85rem  
}
h2 {
  color: #ffffff;
}
nav.textcent{
  justify-content: center;
  text-align: center;
  background-color: #023047;
}