html {
  background-size: 100%;
  background-color: #2629FF;
}
main.container-fluid {
  background-color: #57B339;
  
}
nav.navbar {
  text-align: center;
}
textarea.textarea {
  height: auto;
  width: 100%;
  margin-top: 0.85rem;
  background-color: #8FFF6B;
}
button.btn {
  height: auto;
  width: 100%;
  margin-top: 0.85rem;
  margin-bottom: 0.85rem;
}
div.result {
  height: auto;
  width: 100%;
  margin-top: 0.85rem  
}
h2 {
  color: #ffffff;
}